{{>layout/header}}
<div class="col-md-12">
    <h1>My Traveler</h1>
    <h2>Search and Find Experience</h2>

        <div class="col-md-1"></div>
        <div class="col-md-10">
        <div class="container">
                <h1>Login.</h1>
                <form>
                    <div class="form-floating">
                       <input type="text" class="form-control" id="userId" placeholder="ID" >
                    </div>
                    <div class="form-floating">
                        <input type="password" class="form-control" id="userPassword" placeholder="Password">
                    </div>
                    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
                </form>
                <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
                <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">Naver Login</a>
        </div>
        </div>
        <div class="col-md-1"></div>
</div>
{{>layout/footer}}